@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=League+Spartan:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan';
    font-size: 1.1rem;
    background-color: hsl(300, 24%, 96%);
}

.main{
    max-inline-size: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
}

img{
    display: inline-block;
    max-inline-size: 100%;
}

ul li{
    list-style: none;
    justify-content: end;
}

.profile ul li{
    color:hsl(333, 80%, 67%);
}

.profile ul li strong{
    color: hsl(0, 0%, 100%);
}


.images{
    inline-size: 70px;
    border-radius: 40px;

}

.intro-sec{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 50px;
    justify-content: space-between;
}



.intro-sec .info h1{
    margin-left: 0;
    color:hsl(300, 43%, 22%);
    font-size: 3rem;
    max-inline-size: 500px;
    text-shadow: 15px 15px 8px hsl(300, 43%, 22%);
}

.intro-sec .info p{
    color: hsl(303, 10%, 53%);
    font-size: 1.2rem;
    max-inline-size: 500px;
}



.intro-sec div{
    max-inline-size: 500px;
}

.rating{
    max-inline-size: 400px;
}

.rating p{
    display: flex;
    flex-wrap: wrap;
    color: hsl(300, 43%, 22%);
    background-color: hsl(303, 10%, 53%);
    border-radius: 10px;
    min-block-size: 30px;
    gap:10px;
    padding: 10px 20px;

}

.rating p:nth-child(1){
    margin-left: 0px;
}

.rating p:nth-child(2){
    margin-left: 30px;
}

.rating p:nth-child(3){
    margin-left: 60px;
}


.rating p:hover{
    box-shadow: 10px 10px 20px hsl(303, 10%, 53%);
    cursor: pointer;
}


.buyer-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 40px;
}



.testimony{
    color: hsl(0, 0%, 100%);
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    max-inline-size: 350px;
    min-block-size: 300px;
    padding: 40px;
    box-shadow: 15px 25px 20px hsl(303, 10%, 53%);
}

.buyer-sec .testimony:nth-child(1) {
    margin-top: 0px;
}

.buyer-sec .testimony:nth-child(2) {
    margin-top: 30px;
}

.buyer-sec .testimony:nth-child(3) {
    margin-top: 60px;
}



.profile{
    display: flex;
    padding: 20px;
}

.attribution{
    text-align: center;
    margin-top: 50px;
}

.attribution a{
    text-decoration: none;
    color: hsla(180, 88%, 23%, 0.897);

}

.attribution a:hover{
    color:hsl(300, 43%, 22%);
}